{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="jumbotron" style="margin-top: 10px">
				<h1>
					玄水密藏
				</h1>
				<p>
					道生一，一生二，二生三，三生万物，万物负阴而抱阳。
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="#">了解更多</a>
				</p>
			</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-5 column thumbnail" style="margin-left: 15px">
					<img alt="140x140" src="../static/image/touxiang.jpg" class="img-responsive center-block" style="" />
					<dl class="dl-horizontal">
						<dt>
							课程名称：
						</dt>
						<dd>
							家中风水如何布局？
						</dd>
						<dt>
							课程时间：
						</dt>
						<dd>
							2024-6-26日 晚八点
						</dd>
						<dt>
							上课老师：
						</dt>
						<dd>
							xx老师
						</dd>
						<dt>
							上课链接：
						</dt>
						<dd>
							<a class="text-danger" >http://www.baidu.com</a>
						</dd>
					</dl>
				</div>
                <div class="col-md-6 column">
					<div class="carousel slide" id="carousel-863725">
						<ol class="carousel-indicators">
							<li class="active" data-slide-to="0" data-target="#carousel-863725">
							</li>
							<li data-slide-to="1" data-target="#carousel-863725">
							</li>
							<li data-slide-to="2" data-target="#carousel-863725">
							</li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img alt="" src="../static/image/lunbo1.jpg" />
								<div class="carousel-caption">

								</div>
							</div>
							<div class="item">
								<img alt="" src="../static/image/lunbo2.jpg" />
								<div class="carousel-caption">

								</div>
							</div>
							<div class="item">
								<img alt="" src="../static/image/lunbo3.jpg" />
								<div class="carousel-caption">

								</div>
							</div>
						</div> <a class="left carousel-control" href="#carousel-863725" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-863725" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="../static/image/shier_dizhi.jpg" />
						<div class="caption">
							<h3>
								十二地支
							</h3>
							<p>
                                子（zǐ）、丑（chǒu）、寅（yín）、卯（mǎo）、<br>
                                辰（chén）、巳（sì）、午（wǔ）、未（wèi）、<br>
                                申（shēn）、酉（yǒu）、戌（xū）、亥（hài）<br>
                            </p>
							<p>
								 <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="../static/image/jinsuo_yuguan.jpg" />
						<div class="caption">
							<h3>
								金锁玉关风水学笔记
							</h3>
							<p>
                                1、一日为师，终身为父
                                2、丙巳交界搞成凶水，不仅没有取上福，而且大凶，主家代代出现食道癌。<br>
                                3、金锁玉关经，就是用金子、玉盒锁起来。要学会保护自己，发扬广大它。<br>
                                4、要求：从头学起，弄懂，并晓得自己是什么样的人，努力提高自己的素质和理解能力。<br>
                                5、艮卦是子卦，艮砂人无子，这种人性格孤僻，性情狠毒。女儿属半子。<br>
                            </p>
							<p>
								 <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="../static/image/tiangan_yinyang.jpg" />
						<div class="caption">
							<h3>
								天干阴阳
							</h3>
							<p>
                                甲乙东方木，属春；<br>
                                丙丁南方火，属夏；<br>
                                戊己中央土，属长夏；<br>
                                庚辛西方金，属秋；<br>
                                壬癸北方水，属冬。<br>
                            </p>
							<p>
								 <a class="btn btn-primary" href="#">详情</a>
							</p>
						</div>
					</div>
				</div>

			</div>
			<ul class="pager">
              <li class="previous">
                <a href="#">&larr; 上一页</a>
              </li>
              <li class="next">
                <a href="#">下一页 &rarr;</a>
              </li>
            </ul>

		</div>
	</div>
</div>

{% endblock %}